{
    padding: 0;
    margin: 0; 
}
.header{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8) ;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
}
.logo{
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: gold;
    text-shadow: 0 0 25px gold;
    text-shadow: 0 0 50px gold;
    transform: scale(1.1);
}
span{
    color: gold;
}
.navbar a{
    text-decoration: none;
    font-family:Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: gold;
    border-bottom: 3px solid gold;
}
.contact{
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    padding: 10px 28px;
    background-color: white;
    color: black;
     border: 2px solid transparent;
     border-radius: 8px;
     font-size: 16px;
     letter-spacing: 1px;
     font-weight: 600;
     transition: 0.3s ease;
}
.contact:hover{
    background-color: gold;
    box-shadow: 0 0 25px gold;
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(212, 212, 212);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-cont{
  max-width: 800px;  
}
.home-cont h1{
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    line-height: 2.2;
}
.home-cont p{
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 25px 0 30px;
    line-height: 1.5;
}
.btn-box{
    width: 400px;
    display: contents;
    gap: 8em;
}
.btn-1{
    text-decoration: none;
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color: gold;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: gold;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-cont h2{
    text-align: left;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
}
.about p{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 4em 0 5em;
}
.btn-boxs{
    width: 400px;
    display: contents;
    gap: 8em;
}
.btn-3{
    padding: 15px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-3:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.modules{
    width: 100%;
    min-height: 100vh;
    background: rgb(212, 212, 212);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.modu-cont h2{
    text-align: left;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
}
.modu-cont p{
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 25px 0 30px;
    line-height: 1.2;  
}
ul li{
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 25px 0 30px;
    line-height: 1.0;  
}
.two-column{
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
    text-decoration: none;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid gold;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px gold, 0 0 10px gold;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: white;
    border: 2px solid gold;
}